{% extends "/layout.html.twig" %}

{% block body %}
<div class="container">
    <h1>Skromne początki, wielkie marzenia...</h1>
    <p class="lead"><i class="fa fa-cog" aria-hidden="true"></i> Bootstrap 4</p>
</div>
{% endblock %}