<!doctype html>
<html>
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    <link rel="stylesheet" href="/assets/bundle.css">
    
</head>
<body>
    {% block body %}
        <h1>Hello!</h1>
    {% endblock %}
    {% block styles %}{% endblock %}
    <script src="/assets/main.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>