// Example of referring to bootstrap variables in your Sass code.
$icons-color: adjust-hue($brand-success, -20deg);

#app {
  display: block;
  position: relative;
  width: 100%;

  .col-items {
    margin: 70px 0;
    .col-item {
      font-size: 50px;
      color: $icons-color;
      text-align: center;

      .text {
        display: block;
        font-size: 30px;
        color: #FFF;
      }
    }
  }
}

body {
  margin-top: 90px; 
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

.ocronline-card {
    .ocronline-overlay {
        position: relative;
        overflow: hidden;
        .ocronline-overlay-inside {
            opacity: 0;
            background: rgba(0,0,0,0.7);
            transition-property: opacity;
            transition-duration: 200ms;
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            color: white;
            text-align: center;
            padding: 15px;
            &:hover {
                opacity: 1;
            }
        }
    }
    .card-footer {
        font-size: 80%;
        .fa-ul {
            margin-left: 10px;
            margin-bottom: 0px;
        }
    }
    .ocronline-overlay-gradient {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 70%,rgba(0,0,0,1) 100%);
    }
}