// Example of referring to bootstrap variables in your Sass code.
$icons-color: adjust-hue($brand-success, -20deg);

#app {
  display: block;
  position: relative;
  width: 100%;

  .col-items {
    margin: 70px 0;
    .col-item {
      font-size: 50px;
      color: $icons-color;
      text-align: center;

      .text {
        display: block;
        font-size: 30px;
        color: #FFF;
      }
    }
  }
}

body {
  margin-top: 90px; 
}

.card-columns {
  @include media-breakpoint-only(xs) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}